{% extends 'template.twig' %}
{% block title %}Latest advertisements{% endblock %}
{% block content %}
	<div class="row">
	    <h4 class="grey-text text-darken-1">Search Advertisements!</h2>
	    <form action="{{ '/searchResult' | path }}" method="post" id="searchForm"
          enctype="multipart/form-data">
	        <div class="input-field col s6">
                <label class="sr-only" for="login">Advertisement Information</label>
		        <input type="text" id="adInfo" name="adInfo"
		               class="form-control" placeholder="Advertisement Title">
	        </div>
	        <div class="input-field col s6">
                <label class="sr-only" for="login">Pet Information</label>
		        <input type="text" id="petInfo" name="petInfo"
		               class="form-control" placeholder="Pet Name/Category/Race">
	        </div>
	        <div class="input-field col s6">
                <label class="sr-only" for="login">Location Information</label>
		        <input type="text" id="locationInfo" name="locationInfo"
		               class="form-control" placeholder="Location Voivodership/Commune/Place">
	        </div>
	        <div class="input-field col s6">
                <label class="sr-only" for="login">Tags</label>
		        <input type="text" id="tagInfo" name="tagInfo"
		               class="form-control" placeholder="Tags">
	        </div>	        
	        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
	        <input type="hidden" name="page" value="1" />
	        <div class="form-actions clearfix">
	            <button class="btn btn-success btn-lg" type="submit">
	                {% block buttonFormLabel %} Search {% endblock %}
	            </button>
	        </div>
	    </form>
	</div>
	<div id ="Ads">
		{% for ad in advertisements %}
		    <div class="row">
		    <h4 class="grey-text text-lighten-2">{{ ad.getTitle }}</h4>
		        <strong>Date</strong>:
		        {{ ad.getCreatedDate | date('yyyy-MM-dd HH:mm') }} 
		
		        {% if ad.getUser %}
		            <strong>Author</strong>: {{ ad.getUser }} 
		        {% endif %}
		
		        {% if ad.getTags %}
		            <strong>Tags</strong>:
		            {% for tag in ad.getTags %}
		                <span class="label label-primary">#{{ tag.getName }}</span>
		            {% endfor %}
		        {% endif %}
		    </div>
		{% endfor %}
		{% if pages > 1 %}
		    <ul class="pagination">
		        {% if page > 1 %}<li class="waves-effect">
		            <a href="{{ '/latest/%d' | format(page - 1) | path }}"
		               aria-label="Previous" class="btn-floating">
		                <span aria-hidden="true">&laquo;</span>
		            </a>
		        </li>{% endif %}
		        {% if firstpage > 1 %}
		            <li><span aria-hidden="true">...</span></li>
		        {% endif %}
		        {% for p in printPages %}
		            {% if p == page %}
		                <li class="active" class="waves-effect">
		                    <a href="{{ '/latest/%d' | format(p) | path }}" class="btn-floating">{{ p }}</a>
		                </li>
		            {% else %}
		                <li>
		                    <a href="{{ '/latest/%d' | format(p) | path }}" class="btn-floating">{{ p }}</a>
		                </li>
		            {% endif %}
		        {% endfor %}
		        {% if lastpage < pages %}
		            <li><span aria-hidden="true">...</span></li>
		        {% endif %}
		        {% if page < pages %}<li class="waves-effect">
		            <a href="{{ '/latest/%d' | format(page + 1) | path }}" class="btn-floating"
		               aria-label="Next">
		                <span aria-hidden="true">&raquo;</span>
		            </a>
		        </li>{% endif %}
		    </ul>
		{% endif %}
	</div>

{% endblock %}
