{% extends 'template.twig' %}
{% block title %}Latest advertisements{% endblock %}
{% block content %}
	<h3 class="grey-text text-darken-1">Advertisements</h3>
	<div class="row">
	    <form action="{{ '/searchResult' | path }}" method="post" id="searchForm"
          enctype="multipart/form-data">
			<div class="row">
                <div class="input-field col s3">
                    <input type="text" id="adInfo" name="adInfo"
                           class="validate">
                    <label for="adInfo">Title</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="petInfo" name="petInfo"
                           class="validate">
                    <label for="petInfo">Pet</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="locationInfo" name="locationInfo"
                           class="validate">
                    <label for="locationInfo">Location</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="tagInfo" name="tagInfo"
                           class="validate">
                    <label for="tagInfo">Tags</label>
                </div>
			</div>

	        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />
	        <input type="hidden" name="page" value="1" />

	        <div class="form-actions clearfix">
	            <button class="btn btn-success btn-lg" type="submit">
	                {% block buttonFormLabel %} Search {% endblock %}
	            </button>
	        </div>
	    </form>
	</div>

	<div id="Ads">
		<ul class="collection">
		{% for ad in advertisements %}
		    <li class="collection-item left-align">
				<h5>
					<a href="{{ '/advertisement' | path }}/{{ ad.getId }}">
						{{ ad.getTitle }}
					</a>
					{% if (beans.userService.getLoggedUserName == ad.getUser.getLogin and beans.userService.getLoggedUserName != null) %}
						<a href="/getEditAdd?id={{ad.id}}"
						   class="btn-floating waves-effect waves-light red" >
							<i class="material-icons">edit</i>
						</a>
					{% endif %}
				</h5>
				<p>
					{% if ad.getLocation %}
						{% if ad.getLocation.getCommune %}
							{{ ad.getLocation.getCommune }},
						{% endif %}
						{% if ad.getLocation.getPlace %}
							{{ ad.getLocation.getPlace }},
						{% endif %}
						{% if ad.getLocation.getVoivodership %}
							{{ ad.getLocation.getVoivodership }}
						{% endif %}
					{% endif %}

					{% if ad.getTags %}
						{% for tag in ad.getTags %}
							<div class="chip">{{ tag.getName }}</div>
						{% endfor %}
					{% endif %}
				</p>
			</li>
		{% endfor %}
		</ul>

		{% if pages > 1 %}
		    <ul class="pagination">
		        {% if page > 1 %}<li>
		            <a href="{{ '/latest/%d' | format(page - 1) | path }}"
		               aria-label="Previous" class="btn-floating grey">
		                <span aria-hidden="true">&laquo;</span>
		            </a>
		        </li>{% endif %}
		        {% if firstpage > 1 %}
		            <li><span aria-hidden="true">...</span></li>
		        {% endif %}
		        {% for p in printPages %}
		            {% if p == page %}
		                <li>
		                    <a href="{{ '/latest/%d' | format(p) | path }}" class="btn-floating blue">{{ p }}</a>
		                </li>
		            {% else %}
		                <li>
		                    <a href="{{ '/latest/%d' | format(p) | path }}" class="btn-floating grey">{{ p }}</a>
		                </li>
		            {% endif %}
		        {% endfor %}
		        {% if lastpage < pages %}
		            <li><span aria-hidden="true">...</span></li>
		        {% endif %}
		        {% if page < pages %}
					<li>
						<a href="{{ '/latest/%d' | format(page + 1) | path }}"
						   class="btn-floating grey" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
		        	</li>
				{% endif %}
		    </ul>
		{% endif %}
	</div>

{% endblock %}
