{% extends 'template.twig' %}
{% block title %}Add advertisement{% endblock %}
{% block content %}

	<h3 class="grey-text text-darken-1">Edit advertisement</h3>

	{% if statusEmpty %}
		<div class="row">
			<div class="col s6 offset-s3" role="alert">
				<div class="card red darken-1">
					<div class="card-content white-text">
						<p>{{ statusEmpty }}</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if statusOK %}
		<div class="row">
			<div class="col s6 offset-s3" role="alert">
				<div class="card green darken-1">
					<div class="card-content white-text">
						<p>{{ statusOK }}</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<form action="{{ '/editAdd' | path }}" method="post"
		  enctype="multipart/form-data">

		<input type="hidden" id="id" name="id" value="{{ addId }}">

		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="title" name="title"
					   value="{{ advertisement.getTitle }}" class="validate">
				<label for="title">Title</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
                <textarea rows="4" cols="50" id="content" name="content"
						  class="materialize-textarea">
                    {{ advertisement.getContent }}
                </textarea>
				<label for="content">Content</label>
			</div>
		</div>

		<h4 class="grey-text">Pet information</h4>
		<div class="row">
			<div class="input-field col s3">
				<input type="text" id="petName" name="petName"
					   value="{{ advertisement.getPet.getName }}"
					   class="validate">
				<label for="petName">Name</label>
			</div>
			<div class="input-field col s3">
				<input type="number" id="age" name="age" min=0
					   value="{{ advertisement.getPet.getAge }}"
					   class="validate">
				<label for="age">Age</label>
			</div>
			<div class="input-field col s3">
				<input type="text" id="race" name="race"
					   value="{{ advertisement.getPet.getRace }}"
					   class="validate">
				<label for="race">Race</label>
			</div>
			<div class="input-field col s3">
				<select id="categoryName" name="categoryName">
					{% for category in categories %}
						<option value="{{category.getId}}"
                        {% if category.getId == advertisement.getPet.getCategory.getId %}
                        selected
                        {% endif %}>
							{{category.getName}}
						</option>
					{% endfor %}
				</select>
				<label class="categoryLabel" for="categoryName">Category</label>
			</div>
		</div>

		<h4 class="grey-text">Location</h4>
		<div class="row">
			<div class="input-field col s4">
				<input type="text" id="voivodership" name="voivodership"
					   value="{{ advertisement.getLocation.getVoivodership }}"
					   class="validate">
				<label for="voivodership">Voivodership</label>
			</div>
			<div class="input-field col s4">
				<input type="text" id="place" name="place"
					   value="{{ advertisement.getLocation.getPlace }}"
					   class="validate">
				<label for="place">Place</label>
			</div>

			<div class="input-field col s4">
				<input type="text" id="commune" name="commune"
					   value="{{ advertisement.getLocation.getCommune }}"
					   class="validate">
				<label for="commune">Commune</label>
			</div>
		</div>

		<h4 class="grey-text">Other</h4>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="tagsString" name="tagsString"
					   value="{{ tags }}" class="validate">
				<label for="tagsString">Tags</label>
			</div>
		</div>
		<div class="row">
			<div class="file-field input-field col s6">
				<div class="btn waves-effect waves-light amber">
					<span>Image</span>
					<input type="file" accept="image/*" id="image" name="image">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text" >
				</div>
			</div>
			<div class="file-field input-field col s6">
				<div class="btn waves-effect waves-light amber">
					<span>Video</span>
					<input type="file" accept="video/*" id="video" name="video">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
		</div>

		<input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />

		<div class="form-actions clearfix">
			<button type="submit" class="btn waves-effect waves-light green">
				Save
			</button>
		</div>
	</form>

{% endblock %}
