{% extends 'template.twig' %}
{% block title %}User Login{% endblock %}
{% block content %}

<div class="row">
    <h2 class="grey-text text-lighten-2">Login</h2>
	{% if error %}
		<div class="row">
		    <div class="alert alert-danger col-md-6 col-md-offset-3 text-center"
		         role="alert">
		        {{ error }}
		    </div>
		</div>
	{% endif %}
    <form action="{{ '/login' | path }}" method="post"
          enctype="multipart/form-data">

        <label class="sr-only" for="login">Username</label>
        <input type="text" id="username" name="username" value="{{ login }}"
               class="form-control" placeholder="Username">

        <label class="sr-only" for="password">Password</label>
        <input type="password" id="password" name="password"
               class="form-control" placeholder="Password">
                   
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />

        <button type="submit" class="btn btn-success center-block">
            Login
        </button>
    </form>
</div>

{% endblock %}
