{% extends 'template.twig' %}
{% block title %}User registration{% endblock %}
{% block content %}

{% if status %}
<div class="row">
    <div class="alert alert-danger col-md-6 col-md-offset-3 text-center"
         role="alert">
        {{ status }}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="panel panel-default col-md-4 col-md-offset-4">
        <div class="panel-body">
            <h3>Login</h3>

            <form action="{{ '/login' | path }}" method="post"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label class="sr-only" for="login">Username</label>
                    <input type="text" id="username" name="username" value="{{ login }}"
                           class="form-control" placeholder="Username">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" id="password" name="password"
                           class="form-control" placeholder="Password">
                </div>
                <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />

                <button type="submit" class="btn btn-success center-block">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
