{% extends 'template.twig' %}
{% block title %}User registration{% endblock %}
{% block content %}

<div class="row">
    <div class="col s8 offset-s2">

        <h3 class="grey-text text-darken-1">Register</h3>

        {% if status %}
            <div class="row">
                <div class="col s6 offset-s3" role="alert">
                    <div class="card red darken-1">
                        <div class="card-content white-text">
                            <p>{{ status }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <form action="/register" method="post"
              enctype="multipart/form-data">

            <div class="row input-field">
                <input type="text" id="login" name="login" value="{{ login }}"
                       class="validate">
                <label for="login">Username</label>
            </div>

            <div class="row input-field">
                <input type="email" id="email" name="email" value="{{ email }}"
                       class="validate">
                <label for="email">Email</label>
            </div>

            <div class="row input-field">
                <input type="password" id="password" name="password"
                       class="validate">
                <label for="password">Password</label>
            </div>

            <div class="row input-field">
                <input type="password" id="repeatPassword" name="repeatPassword"
                       class="validate">
                <label for="repeatPassword">Re-enter password</label>
            </div>

            <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}" />

            <div class="form-actions clearfix">
                <button type="submit" class="btn waves-effect waves-light">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
